*{
    font-family: Verdana, Tahoma, sans-serif;
}

body{
    font-size: 3rem;
    background-image: linear-gradient(rgb(62, 62, 62), rgb(0, 0, 0));
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: whitesmoke;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    color: rgb(255 225 0)
}

nav{
    display: flex;
    align-content: center;
    justify-content: space-around;
    text-align: center;
}

nav a{
    width:100%;
}

nav img{
    width: 20%;
    transition: transform 300ms;
    padding: 3rem;
    max-width: 150px;
}

nav img:hover{
    transform: scale(1.3);
    cursor: pointer;
}

nav img:active{
    transform: scale(1.2);
    -webkit-tap-highlight-color: transparent;
}

.navigation{
    display: none;
}



.navigation a{
    padding: 2rem;
    margin: 2rem;
    text-align: center;
}

.navigation .x{
    text-align: center;
}

.menuimg{
    position: fixed;
    transition: ease-in-out 100ms;
    padding: 5rem;
    z-index: 0;
}
.menuimg:hover{
    opacity: 0.5;
    transform: scale(1.15);
    cursor: pointer;
}
.menuimg:active{
    transform: scale(1.05);
    -webkit-tap-highlight-color: transparent;
}

.show{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    font-size: 5rem;
    margin-top: calc(5rem + 20vw);
    background-color: black;
    width: 100vw;
    height: 100%;
    border-radius: 20px;
    z-index: 1000;
}

.x:hover{
    cursor: pointer;
}

section{
    margin: 0 8rem;
    text-justify: justify;
}

.indexion{
    color: whitesmoke;
}

section p{
    word-wrap: unset;
    font-size: 1.5rem;
}

.semibod{
    margin: 0 8rem;
    min-width: 35rem;
    text-justify: justify;
}

td, th{
    border: rgba(255, 255, 255, 0.249) 1px solid;
    padding: 1rem;
    border-radius: 5px;
}
span.material-symbols-outlined{
    width: 100%;
    text-align: center;
    font-size: 80px;
    font-variation-settings: 'OPSZ' 80;
}

.contact-list{
    list-style: none;
}

.contact-list li{
    padding: 1rem;
}

.semibod p{
    line-height:20px;
}

@media only screen and (min-width: 500px){
    .show{
        all:unset;
    }
    nav a{
        width:fit-content;
    }
    .menuimg{
        display:none;
    }
    nav img{
        width: 100px;
    }
    nav{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
    }
    .x{
        display:none;
    }
    .semibod{
        font-size: 1rem;
        display: grid;
        align-content: center;
    }
}