*{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding:0.1rem;
}

hr{
    background-color: lightblue;
    border-radius: 10px;
    border-color: transparent;
    padding: 0.5px;
}

body{
    padding: 5%;
    padding-left: 8%;
    padding-top: 1%;
}

h1{
    color: gray
}
a {color: lightblue
}
a:hover{color:aqua}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

td{
    padding: 4px;
}

.bloglist table, .bloglist th, .bloglist td {
border: none;
}

ul li{
    margin-left: 20px;
}

/* 
MOVING SLIDER STARTS
*/

/* #slider{
    overflow: hidden;
}
#slider figure{
    position:relative;
    width: 10000%;
    margin:0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    float: left;
} */

/* @keyframes slider {
    0% {
        left: 0;
    }
    100%{
        left: -250%
    }
} */

/*MOVING SLIDER ENDS*/

/*
CAROUSEL
*/

.carousel{
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    position: relative;
}

.carousel figure{
    display: inline-block;
    animation: 30s carousel infinite linear;
    overflow: hidden;
    
  animation-play-state: paused;
}

.carousel figure img {
    height: 300px;
    margin: 0 10px;
}

.carousel figure:hover{
    animation-play-state: running;
}

@keyframes carousel{
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(-100%)
    }
}

.carousel-r{
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    position: relative;
}

.carousel-r figure{
    display: inline-block;
    animation: 30s carouselr infinite linear;
    overflow: hidden;
    
  animation-play-state: running;
}

.carousel-r figure img {
    height: 300px;
    margin: 0 10px;
}

.carousel-r figure:hover{
    animation-play-state: paused;
}

@keyframes carouselr{
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(-100%)
    }
}

/*continues normal code*/
.single-image{
    max-width: 70%;
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}