*{
    background-color: black !important;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding:0.1rem;
}

body{
    padding: 5%;
    padding-left: 8%;
    padding-top: 1%;
}

h1{
    color: gray
}
a {color: lightblue
}
a:hover{color:aqua}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

td{
    padding: 4px;
}

.bloglist table, .bloglist th, .bloglist td {
border: none;
}

/* 
MOVING SLIDER STARTS
*/

#slider{
    overflow: hidden;
}
#slider figure{
    position:relative;
    width: 10000%;
    margin:0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    100%{
        left: -250%
    }
}

/*MOVING SLIDER ENDS*/

.single-image{
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}