*{
    background-color: black !important;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding:0.1rem;
}
a{
color: lightblue;
font-size: 1.3rem;
}
a:hover{color:aqua}

h1{
    color: gray
}
