body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #232323;
    color: rgb(210 210 210);
    padding: 50px 150px 50px 150px;
    font-size: large;
}

a{
    text-decoration: none;
    color:rgb(182, 182, 182);
}

a:hover{
    color: rgb(210 210 210);
}

.semibod{
    padding: 10px;
}

td{
    width: fit-content;
}

.indeximg{
    margin-top: 50px;
    border-radius: 10px;
    width: 400px;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

blockquote{
    border-style: none none none solid;
    padding: 10px;
}

.munger{
    width: 400px;
    border-radius: 10px;
}
