body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("bg.jpg");
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    color:white;
}

a{
    background-color: rgba(0, 0, 0, 0.639);
    border-radius: 20px;
    padding: 10px;
    color: rgb(221, 232, 255);
    text-align: center;
    margin: 0 auto;
}

a:hover{
    color: blue;
    cursor: pointer;
}

.over{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#countdown{
    font-weight: bold;
    display: flex;
    gap: 100px;
}
p{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
    padding: 10px;
    font-size: 3rem;
}

header{
    width:100%;
    margin:0;
    text-align: center;
    background-color: hsla(0,2%,8%,0.5);
    backdrop-filter: saturate(160%) blur(20px);
}

@media only screen and (max-width:700px){
    #countdown{
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        gap:5px;
    }
    body{
        background-position: top right;
    }
}